.container {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.button {
    margin-left: 10%;
}

.preloader {
    background-image: url("./assets/1476.gif");
    background-size: cover;
    background-position: center;
    width: 65px;
    height: 65px;
    margin-left: 10%;
}

hr {
    width: 100%;
    margin: 2px;
}