.affair {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.smallButton {
    padding: 0;
    margin-bottom: 10px;
    min-height: 22px;
    width: 22px;
    font-size: 0.7rem;
    background-color: #2179c4;
}