@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
    font-family: 'Montserrat', sans-serif;
}

.blue {
    height: 40px;
    min-width: 230px;
    padding-left: 13px;
    margin: 20px 0 30px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1.5px solid #b4b4b4;
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.03rem;
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.buttonDefault {
    margin-bottom: 15px;
    border: 1px solid #1899D6;
    background: #1899D6;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    min-height: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    vertical-align: middle;
}

.buttonDefault:hover,
.buttonDefault:active {
    background-color: initial;
    color: #1899D6;
}

.buttonDefault:active {
    opacity: .5;
}