.default {
    border: 1px solid #1899D6;
    background: #1899D6;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    min-height: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
}

.default:hover,
.default:active {
    background-color: initial;
    color: #1899D6;
}

.default:active {
    opacity: .5;
}

.red {
    border: 1px solid #FF4742;
    background: #FF4742;
    margin-bottom: 15px;
}

.red:hover,
.red:active {
    background-color: initial;
    color: #FF4742;
}

.disabled {
    background-color: #c2c2c2;
    border: #3e3e3e;
    color: #d9dadc;
    cursor: initial;
    box-shadow: none;
    margin-bottom: 15px;
}

.disabled:hover,
.disabled:active {
    background-color: #c2c2c2;
    color: #d9dadc;
}

.disabled:active {
    opacity: 1;
}